/* using the vh, wh unit for font-size makes it change based on
window size */
/* everything in the internet comes in boxes (divs) or content space */

body {
   margin: 50px;
}

p {
  color:red;
  font-family: helvetica, sans-serif;
  font-weight:"bold";
  font-size: 12px;
  /* absolute, depends on the size of the screen */
}

h1{
font-family: helvetica, sans-serif;
color: #1261a6;
}
/* calling a class (kind of like a void) */
.blueText{
  color:blue;
}

body {
background: rgb(250, 240, 250);
}
