h3{
  font-size: 24px;
  font-family: helvetica;
  font-style: bold;
  color: white;
}

p{
  width: 300px;
  border: 15px;
  padding: 50px;
  margin: 20px;
  font-size: 16px;
  font-family: helvetica;
}
