h1 {
  font-family:impact;
  text-decoration: underline;
  font-size: 32px;
  color: #3C4B4E;
  margin-top: 1em ;
  margin-bottom: 0.5em ;
}

h3{
  margin-top: 0.5em ;
margin-bottom: 0.1em ;
  font-size: 24px;
  font-family: helvetica;
  color: #FFC7E6;
}

p{
  margin-top: 0.1em ;
  margin-bottom: 0.1em ;
  width: 1000 px;
  border: 15px;
  padding: 10px;
  margin: 10px;
  font-size: 18 px;
  font-family: helvetica;
  font-weight: bold;
  color: white;
}

canvas{
  position: absolute;
  margin:0px;
}

.comparison{
  color: black;
  margin:3px;
  font-size: 24px;
  font-family: helvetica;
}

.container{
  width:90%;
  height: 4%;
}
.button{
  display: inline-block;
  vertical-align: top;
  width: 10%;
  height: 5%;
  font-size: 24px;
  color:black;
  text-align: center;
}
.conatiner_2{
  width:100%;
  height: 40%;
  margin:2px;
}
.infoWomen{
  width:10%;
  margin: 2px;
  font-size: 14px;
}
.infoTrans{
  width:10%;
  margin: 2px;
  font-size: 14px;
}
.infoQueer{
  width:10%;
  margin: 2px;
  font-size: 14px;
}
.infoAI{
  width:10%;
  margin: 2px;
  font-size: 14px;
}

#women{
  background-color: white;

}
 #transwomen{
   background-color: white;
 }

 #queers{
   background-color: white;
 }
 #AI{
   background-color: white;
 }
