@font-face {
  font-family: gotham;
  src: url('gothambolditalic.ttf');
}

@font-face {
  font-family:thicc;
  src: url('gothambold.ttf');

}
body{
  max-width:800px;
  max-height:1000px;
  min-height: 700px;
}

.navBar{
  margin:auto;
  position: fixed;
  width:95%;
  top: 7px;
  left: 2.5%;
  height:5vw;
  transform: skew(345deg);
  background: yellow;
}


h1 {
  margin:0px;
  border:0px;
  position: fixed;
  left: 45%;
  font-family: gotham;
  font-size: calc(38px + (50-38) *((100vw - 700px) / (1920-700)));
  text-align:center;
  color: #fe47ea;
}

.artButtons{
  float: left;
  overflow:auto;
  font-family: gotham;
  color: #fe47ea;
  font-size: calc(24px + (34-24) *((100vw - 700px) / (1920-700)));
  padding:1%;
  margin-left: 3%;
  border:0px;
  width: 15%;
}

.artButtons:hover{
  text-decoration: underline, 2px, black;
  opacity:50%;
}

h2 {
  margin:0px;
  border:0px;
  position: fixed;
  left: 41%;
  font-family: gotham;
  font-size: calc(38px + (50-38) *((100vw - 700px) / (1920-700)));
  text-align:center;
  color: #5493ef;
}

.container{
  position: absolute;
  overflow: auto;
  width:79%;
  height:46vw;
  background:yellow;
  padding:1px;
  margin:15px;
  left:8%;
  top:80px;
}

.desButtons{
  float: left;
  overflow:auto;
  font-family: gotham;
  color: #5493ef;
  font-size: calc(24px + (34-24) *((100vw - 700px) / (1920-700)));
  padding:1%;
  margin-left: 4%;
  border:0px;
  width: 14%;
}

.desButtons:hover {
  text-decoration: underline, 2px, black;
  opacity:50%;
}

img{
  position:relative;
  width: 25.8vw;
  height: 22.8vw;
  float:left;
  margin:1px;
  /* padding:2px; */
}

img:hover{
  opacity:20%;
  filter:saturate(2);
  transition: 0.3s;
}

.homeButton:hover{
  background-color:black;
}
