@font-face {
  font-family: gotham;
  src: url('gothambolditalic.ttf');
}

@font-face {
  font-family:gothambook;
  src: url('GothamMedium.ttf');
}

body{
  max-width:800px;
  max-height:1200px;
  min-height: 700px;
  background-color: black;
}

h1{
overflow: auto;
position: absolute;
right:3vw;
top:12vh;
width:30%;
min-width:150px;
height:8%;
padding:3px;
border:5px;
margin:5px;
transform: skew(345deg);
background: #ff4800;
font-family: gotham;
font-size: calc(32px + (38-32) *((100vw - 700px) / (1920-700)));
text-align:center;
color: black;
}

h2 {
  margin:0px;
  border:0px;
  position: fixed;
  left: 45%;
  font-family: gotham;
  font-size: calc(38px + (50-38) *((100vw - 700px) / (1920-700)));
  text-align:center;
  color: black;
}

h3{
  margin:0px;
  border:0px;
  position: absolute;
  right:3vw;
  font-family: gotham;
  font-size: calc(18px + (24-18) *((100vw - 700px) / (1920-700)));
  text-align:center;
  color: black;
  transform: skew(345deg);
  background: #5493ef;
  top: 98%;
}

.navBar{
  margin:auto;
  position: fixed;
  z-index: 2;
  width:95%;
  top: 7px;
  left: 2.5%;
  height:5vw;
  transform: skew(345deg);
  background: #ff4800;
}

.artButtons{
  float: left;
  overflow:auto;
  font-family: gotham;
  color: black;
  font-size: calc(24px + (34-24) *((100vw - 700px) / (1920-700)));
  padding:1%;
  margin-left: 3%;
  border:0px;
  width: 15%;
}

.artButtons:hover{
  opacity:50%;
}

.container{
  position: absolute;
  overflow: auto;
  width:70%;
  height:75vw;
  padding:1px;
  margin:15px;
  left:2%;
  top:7vw;
}

.info{
  position: absolute;
  top: 22vh;
  width:30vw;
  right: 3vw;
  height:50%;
  margin: 2px;
  font-family: gothambook;
  text-align: right;
  font-size: calc(20px + (26-20) *((100vw - 700px) / (1920-700)));
  color: white;
}
