/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: gotham;
  src: url('gothambolditalic.ttf');
}

@font-face {
  font-family:gothambook;
  src: url('GothamMedium.ttf');
}

body{
  max-width:800px;
  min-height: 320vw;
  background: black;
}

h1{
overflow: auto;
position: absolute;
right:35%;
top:12vh;
width:30%;
height:4vw;
padding:3px;
border:5px;
margin:5px;
transform: skew(345deg);
background: #5493ef;
font-family: gotham;
font-size: calc(32px + (38-32) *((100vw - 700px) / (1920-700)));
text-align:center;
color: black;
}

h2 {
  margin:0px;
  border:0px;
  position: fixed;
  left: 40%;
  font-family: gotham;
  font-size: calc(38px + (50-38) *((100vw - 700px) / (1920-700)));
  text-align:center;
  color: black;
}
/* text boxes */
.info{
  position: absolute;
  overflow: auto;
  top: 22vh;
  width:90vw;
  right: 6vw;
  height:50%;
  margin: 2px;
  font-family: gothambook;
  text-align: center;
  font-size: calc(12px + (18-12) *((100vw - 700px) / (1920-700)));
  color: white;
}

.info_2{
  position: absolute;
  overflow: auto;
  top: 69vw;
  width:90vw;
  right: 6vw;
  height:50%;
  margin: 2px;
  font-family: gothambook;
  text-align: center;
  font-size: calc(12px + (18-12) *((100vw - 700px) / (1920-700)));
  color: white;
}

.info_3{
  position: absolute;
  overflow: auto;
  top: 138vw;
  width:90vw;
  right: 6vw;
  margin: 2px;
  font-family: gothambook;
  text-align: center;
  font-size: calc(12px + (18-12) *((100vw - 700px) / (1920-700)));
  color: white;
}

.info_4{
  position: absolute;
  overflow: auto;
  top: 191vw;
  width:90vw;
  right: 6vw;
  margin: 2px;
  font-family: gothambook;
  text-align: center;
  font-size: calc(12px + (18-12) *((100vw - 700px) / (1920-700)));
  color: white;
}

.info_5{
  position: absolute;
  overflow: auto;
  top: 255vw;
  width:90vw;
  right: 6vw;
  margin: 2px;
  font-family: gothambook;
  text-align: center;
  font-size: calc(12px + (18-12) *((100vw - 700px) / (1920-700)));
  color: white;
}

.info_6{
  position: absolute;
  overflow: auto;
  top: 313vw;
  width:90vw;
  right: 6vw;
  margin: 2px;
  font-family: gothambook;
  text-align: center;
  font-size: calc(12px + (18-12) *((100vw - 700px) / (1920-700)));
  color: white;
}

/* Navbar */
.navBar{
  margin:auto;
  position: absolute;
  z-index: 2;
  width:95%;
  top: 7px;
  left: 2.5%;
  height:5vw;
  transform: skew(345deg);
  background: #5493ef;
}

.desButtons{
  float: left;
  overflow:auto;
  font-family: gotham;
  color: black;
  font-size: calc(24px + (34-24) *((100vw - 700px) / (1920-700)));
  padding:1%;
  margin-left: 4%;
  border:0px;
  width: 14%;
}

.desButtons:hover {
  text-decoration: underline, 2px, black;
  opacity:50%;
}
/* scenes (out of order) */
.scene_1 img{
  position: absolute;
  top:80vw;
  height: 55vw;
  width: 98vw;
}

.scene_2 img{
  position: absolute;
  top:22vw;
  height: 45vw;
  width: 70vw;
  left: 12vw;
}

.scene_3 img{
  position: absolute;
  top:148vw;
  height: 40vw;
  width: 98vw;
}

.scene_4 img{
  position: absolute;
  top:202vw;
  height: 50vw;
  width: 98vw;
}

.scene_5 img{
  position: absolute;
  top:265vw;
  height: 45vw;
  width: 98vw;
}

/* JQUERY STUFF */
.homes{
  position: absolute;
  width: 2vw;
  height: 2vw;
  right: 39.5vw;
  top:162.5vw;
}

.homes:hover{
  border-style: solid;
  border-color: white;
}

.homesInfo{
  position: absolute;
  width: 8vw;
  height: 6vw;
  right: 32vw;
  top:165vw;
  background-color: white;
  color: black;
  font-size: 0.8vw;
  font-family: gothambook;
  padding: 2px;
}

.pollen{
  position: absolute;
  width: 2vw;
  height: 2vw;
  left: 30.5vw;
  top:161.5vw;
}

.pollen:hover{
  border-style: solid;
  border-color: white;
}
.pollenInfo{
  position: absolute;
  width: 10vw;
  height: 7vw;
  left: 33vw;
  top:164vw;
  background-color: white;
  color: black;
  font-size: 0.8vw;
  font-family: gothambook;
  padding: 2px;
}

.tree{
  position: absolute;
  width: 10vw;
  height: 12vw;
  left: 21vw;
  top:166vw;
}

.tree:hover{
  border-style: solid;
  border-color: white;
}

.treeInfo{
  position: absolute;
  width: 10vw;
  height: 5vw;
  left: 32vw;
  top:166vw;
  background-color: white;
  color: black;
  font-size:0.8vw;
  font-family: gothambook;
  padding: 2px;
}

.ficus{
  position: absolute;
  width: 9vw;
  height: 24vw;
  left: 7vw;
  top:156vw;
}

.ficus:hover{
  border-style: solid;
  border-color: white;
}

.ficusInfo{
  position: absolute;
  width: 8vw;
  height: 6vw;
  left: 17vw;
  top:166vw;
  background-color: white;
  color: black;
  font-size: 0.8vw;
  font-family: gothambook;
  padding: 3px;
}

.fern{
  position: absolute;
  width: 13vw;
  height: 11vw;
  left: 2vw;
  top:176vw;;
}

.fern:hover{
  border-style: solid;
  border-color: white;
}

.fernInfo{
  position: absolute;
  width: 9vw;
  height: 7vw;
  left: 16vw;
  top:180vw;
  background-color: white;
  color: black;
  font-size:0.8vw;
  font-family: gothambook;
  padding: 3px;
}

.mouse{
  position: absolute;
  width: 2vw;
  height: 2vw;
  right: 4vw;
  top:184vw;
}

.mouse:hover{
  border-style: solid;
  border-color: white;
}

.mouseInfo{
  position: absolute;
  width: 9vw;
  height: 7vw;
  right: 6vw;
  top:180vw;
  background-color: white;
  color: black;
  font-size: 0.8vw;
  font-family: gothambook;
  padding: 3px;
}

.mouseInfo img{
  position: absolute;
  width: 8vw;
  height: 6vw;
  padding-top: 1vw;
}

.spores{
  position: absolute;
  width: 2vw;
  height: 2vw;
  right: 26vw;
  top:175vw;
}

.spores:hover{
  border-style: solid;
  border-color: white;
}

.sporesInfo{
  position: absolute;
  width: 9vw;
  height: 7vw;
  right: 17vw;
  top:175vw;
  background-color: white;
  color: black;
  font-size: 0.84vw;
  font-family: gothambook;
  padding: 3px;
}
